
# /
/.project
/.pydevproject

# /linux/osd/
/linux/osd/*.pyc

# /linux/osd/develop/xkbtest/
/linux/osd/develop/xkbtest/xkbtest

# /linux/osd/images/
/linux/osd/images/Thumbs.db

# /linux/xmodmap/
/linux/xmodmap/neo_de.xmodmap.bak

# /windows/ahk-auslaufend/
/windows/ahk-auslaufend/Build-Update - VISTA, LÖSCHBAR.bat

# /windows/ahk-auslaufend/Source/
/windows/ahk-auslaufend/Source/LangSTastaturStandardmäßigEingeschaltet.ahk

# /windows/kbdneo2/source/
/windows/kbdneo2/source/.vs
/windows/kbdneo2/source/**/Release
/windows/kbdneo2/source/**/*.vcxproj.user

# /windows/kbdneo2/AHK-supplement/
/windows/kbdneo2/AHK-supplement/bone/kbdbone.exe
/windows/kbdneo2/AHK-supplement/neo2/kbdneo2.exe
/windows/kbdneo2/AHK-supplement/qwertz/kbdqwertz.exe

# /windows/neo-vars/bin/
/windows/neo-vars/bin/

# /windows/neo-vars/build/
/windows/neo-vars/build/Kopie von make-build.bat
/windows/neo-vars/build/Kopie von make-compose.bat

# /windows/neo-vars/src/
/windows/neo-vars/src/_local_paths.bat
/windows/neo-vars/src/ebene1.png
/windows/neo-vars/src/ebene2.png
/windows/neo-vars/src/ebene3.png
/windows/neo-vars/src/ebene4.png
/windows/neo-vars/src/ebene5.png
/windows/neo-vars/src/ebene6.png
/windows/neo-vars/src/neo20-r*.ahk

/windows/neo-vars/src/_gitwcrev.generated.ahk
/windows/neo-vars/src/compose-tainted.generated.ahk

# /yaml/
/yaml/.git
