body    {
	margin-left:50px; margin-right:50px; margin-top:100px; margin-bottom:0px;
	background-color:#bb5957; background-image:url(./hintergrund.png);
	background-color:#dceeee; 
	background-repeat:no-repeat; background-position:50% 0px;
	}

#linkbutton
	{
	line-height:2em;
	text-align:left; color:#000;
	}

#linkbutton a
	{
	border-width:2px; border-style:solid;
	border-color:#aaaaaa;
	padding-top:.25em; padding-bottom:.25em;
	background-image:url(./linkhintergrund.jpg);
	padding-left:1em; padding-right:1em;
	}

#linkbutton a:link    {  color:#000; text-decoration:none;      }
#linkbutton a:visited {  color:#4a4a4a; text-decoration:none;   }
#linkbutton a:focus   {  color:#223; text-decoration:underline; }
#linkbutton a:active  {  color:#8b2121; text-decoration:none;  }
#linkbutton a:hover   {  color:#020; text-decoration:none;
			 background-image:url(./hintergrund_button_hover.png);
			 background-position:top left;          
		      }

hr	{ margin-left:2em; margin-right:2em; margin-top:3ex; margin-bottom:4ex;  height:15px; border:0px;   background-image:url(taste_schraeg2.png);}
