/* Trac CSS */
body {
 background-color:#dceeee; 
 margin: 2em 2em 2em 2em; 
 text-align: center;
 font: normal 10pt 'Segoe UI','Bitstream Vera Sans',verdana,helvetica,arial,sans-serif;
 line-height:1.35em;
 min-width:522px; /*Breite vom Logo*/
}

h1 { font-size: 2.2em; line-height: 0.9em; text-align:left}
h2 { font-size: 1.6em; margin-top: 0,9em; text-align:left}
h3 { font-size: 1.2em; text-align:left}
h4 { font-size: 1em; text-align:left}

tt { white-space: pre }

/* Link styles */
:link, :visited {
 color: #223968; 
}
/* Heading anchors */
@media screen {
 a.ext-link:before {content: "\2197\A0";}
 a[href*="neo-layout.org"]:before { content: "";}
 a[href^="http://www.google."]:before { content: "\2197\A0";}
 a.ext-link .icon {
  background: none;
  padding-left:0;
 }
 a.mail-link .icon {
  background: url(//wiki.neo-layout.org/chrome/common/envelope.png) left center no-repeat;
  padding-left: 16px;
 }
}
 * html a.ext-link .icon { display: inline-block; }

/* Forms */
fieldset { border: 1px solid #d7d7d7; padding: .5em; margin: 0 }
fieldset.iefix { background: transparent; border: none; padding: 0; margin: 0 }
.inlinebuttons input { 
 margin: 0;
}

/* Header */
#header h1 { margin: 0em 0 0em; }
#header {
max-width: 67em;
margin: 0 auto 0em;
}
#header img{
float: left;
margin-left:-2em;
}

/* Quick search */
#search {
 font-size: 1em;
}
#search input { font-size: 1em }


/* Navigation */
.nav ul { font-size: .75em; list-style: none; margin: 0; text-align: right }

 #metanav, #ctxtnav, #search {
 font: normal 10pt 'Segoe UI','Bitstream Vera Sans',verdana,helvetica,arial,sans-serif;
 max-width:67em; 
 margin:  0 auto;
}

/* Main navigation bar */
#mainnav {
 font: normal 10pt 'Segoe UI','Bitstream Vera Sans',verdana,helvetica,arial,sans-serif;
 max-width:67em; 
 margin: .66em auto .33em;
 background: #f7f7f7 url(//wiki.neo-layout.org/chrome/common/topbar_gradient.png) 0 0;
}
 
#mainnav :link, #mainnav :visited { background: url(//wiki.neo-layout.org/chrome/common/dots.gif) 0 0 no-repeat; }

#mainnav .active :link, #mainnav .active :visited {
 background: #333 url(//wiki.neo-layout.org/chrome/common/topbar_gradient2.png) 0 0 repeat-x;
}

.wiki-toc {padding-bottom:1em;}
.wiki-toc li {padding:0 0.3em;}
.wiki-toc li :link:hover, :visited:hover { background-color:transparent; color: black }
.wiki-toc li:hover { background-color:orange; color: black }
.wiki-toc  h4  {font-size:10pt; padding-top:0.8em;}

/* Alternate links */
#altlinks{
  clear: both;
  max-width:61em;
  border-width:thin;
  border-color:#444;
  border-style:solid;
  margin-left:0em;
  margin-right:0em;
  margin: 0em  auto 0em; 
  margin-top:-2em;
  padding-left:2.5em;
  padding-right:4em;
  padding-top:2em;
  padding-bottom:2.4em;
  line-height:1.35em;
  font-size:1em;
  background-color:White;
  color:Black;
  text-align:center;
}

 #altlinks h3 { font-size: 1em; letter-spacing: normal; margin: 0 }
#altlinks li {
 font-size: 1em;
 line-height: 1.5em;
}
#altlinks li :link, #altlinks li :visited {
 background-position: 0 -1px;
 }
#altlinks li a.rss { background-image: url(//wiki.neo-layout.org/chrome/common/feed.png); padding-left: 24px }

/* Footer */
#footer {
  font-size: .5em;
  border-top: 0px solid;
  text-align: center;
  margin: 0px auto 0;
}
#footer hr { color:#fff; display: none }
#footer #tracpowered {  border: 0; float: right}
#footer p.left {
  text-align: left;
  line-height: 1em;
  padding: 0 1em 1em 0em;
  border-left: 0px solid #d7d7d7;
  border-right: 0px solid #d7d7d7;
}
#footer p.right {
  float: right;
  text-align: right;
}


/* Page preferences form */
#prefs fieldset legend {
 font-size: .75em;
}

/* Version information (browser, wiki, attachments) */
.wikitoolbar :link, .wikitoolbar :visited {
 background: transparent url(//wiki.neo-layout.org/chrome/common/edit_toolbar.png) no-repeat;
}

/* Styles for tabular listings such as those used for displaying directory
   contents and report results. */
table.listing thead th {
 font-size: 1em;
}
table.listing tbody td, table.listing tbody th {
 padding: .33em .5em;
}
table.listing th.asc a { background-image: url(//wiki.neo-layout.org/chrome/common/asc.png) }
table.listing th.desc a { background-image: url(//wiki.neo-layout.org/chrome/common/desc.png) }

#dirlist td.name { width: auto }
#dirlist td.change {   white-space: normal }

div.report {
overflow-y: hidden;
overflow:auto;
}

/* Styles for the error page (and rst errors) */
#content.error pre, div.system-message pre { margin-left: 1em; overflow: auto }

#content {
  max-width:61em;
  border-width:thin;
  border-color:#444;
  border-style:solid;
  margin-left:0em;
  margin-right:0em;
  margin: 0em  auto 0; 
  margin-top:2em;
  padding-left:2.5em;
  padding-right:4em;
  padding-top:2em;
  padding-bottom:2.4em;
  line-height:1.35em;
  font-size:1em;
  background-color:White;
  color:Black;
  text-align:justify;
  min-width:522; /*breite vom Logo*/
  }

#content img {margin:1em}  /*hält Text von Bildern im Contentbereich fern */

#content.ticket  { width: 100%; max-width:61em}

table.code td {font-family: 'DejaVu Sans Mono',monospace;}
