#include <windows.h>
#include <ntverp.h>


#define VER_PRODUCTBUILD            /* NT */   7600
#define VER_PRODUCTBUILD_QFE        16385

#define VER_COMPANYNAME_STR         "Windows (R) Win 7 DDK provider"
#define VER_PRODUCTNAME_STR         "Windows (R) Win 7 DDK driver"
#define VER_LEGALTRADEMARKS_STR     \
"Windows (R) is a registered trademark of Microsoft Corporation."

#define VER_FILETYPE              VFT_DLL
#define VER_FILESUBTYPE           VFT2_DRV_KEYBOARD
#define VER_FILEDESCRIPTION_STR   "Deutsch (NEO 2.0 ergonomisch) Tastaturlayout"
#define VER_INTERNALNAME_STR      "kbdneo2"
#define VER_ORIGINALFILENAME_STR  "kbdneo2.dll"

#define VER_LANGNEUTRAL
#include "common.ver"
