<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.neo</string>
	<key>CFBundleName</key>
	<string>neo-layouts</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>KLInfo_Deutsch (Bone)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.neo.deutsch(bone)</string>
		<key>TISIntendedLanguage</key>
		<string>de</string>
	</dict>
	<key>KLInfo_Deutsch (Neo 2)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.neo.deutsch(neo2)</string>
		<key>TISIntendedLanguage</key>
		<string>de</string>
	</dict>
	<key>KLInfo_Deutsch (NeoQwertz)</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.neo.deutsch(neoqwertz)</string>
		<key>TISIntendedLanguage</key>
		<string>de</string>
	</dict>
</dict>
</plist>
